body {
	/*background: #e5e5e5;*/
	padding-top: 50px;
}

.theme-dropdown .dropdown-menu {
	display: block;
	position: static;
	margin-bottom: 20px;
}

.theme-showcase > p > .btn {
	margin: 5px 0;
}

.comment-deleted {
	color: grey;
}

.news-line {
	background: #ffffff;
	padding: 15px;
}

.footer > .container, .post-col {
	padding: 15px;
}

.post-title {
	color: black;
	font-weight: bold;
}

.glyphicon, .comment-count {
	color: #999;
}
